/* Custom styles */

/* Define the Ahsing-Regular font */
@font-face {
  font-family: 'Ahsing-Regular';
  src: url('Ahsing-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define the Poppins-Bold font */
@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Poppins-Bold', Arial, sans-serif;
  line-height: 1.6;
  background: #000;
}

.hero {
  position: relative;
  height: 90vh;
  color: #fff;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: opacity(.5);
}

.hero h1 {
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size: 70px; /* 3rem equivalent */
  font-weight: bold;
  margin-bottom: 16px; /* 1rem equivalent */
  color: #fff;

}

.section-title {
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size: 32px; /* 2rem equivalent */
  font-weight: bold;
  margin-bottom: 10px; /* 2rem equivalent */
  color: #0400ff;

}
.projects {
  padding-top: 5rem; /* Adjust top padding as needed */
  padding-bottom: 5rem; /* Adjust bottom padding as needed */
}

/* CSS for card container */
.m {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
iframe{
  border-radius: 30px;
  padding: 10px;
}
.linkedin-articles .linkedin-embed {
  margin-bottom: 20px;
}

.linkedin-articles .linkedin-embed iframe {
  border: none;
}


/* CSS for cards */
.card {
  width: 300px; /* Set fixed width for the cards */
  /* margin: 0 1rem 2rem; Add margin around the cards */
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the cards */
}

/* CSS for card images */
.card-img-top {
  width: 100%;
  height: auto;
}

/* CSS for card titles */
.card-title {
  font-size: 1.25rem; /* Adjust font size of card titles */
  margin-top: 1rem; /* Add some space between title and text */
}

/* CSS for card text */
.card-text {
  font-size: 1rem; /* Adjust font size of card text */
}

@media (max-width: 768px) {
  /* CSS for mobile devices */
  .m {
    flex-direction: column; /* Stack cards vertically on mobile */
    align-items: center; /* Center cards on mobile */
  }

  .card {
    width: 90%; /* Set full width for cards on mobile */
  }
}
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease;
  color: #fff;
  /* border-radius: 20px; */
  margin: 12px;
  /* border: solid #003cff; */
  background-color: #1a1a1a;
  /* max-width: 500px; */

}
.card-title{
  color: #0957ff;
}
.card-text{
  color: #d5d5d5;

}
.card:hover {
  transform: translateY(-10px);
  cursor: help;
}

.footer {
  background: linear-gradient(75deg, #10011f, #0c0615, #0a0436);
  color: #fff;
  /* color: #3b45ff; */

}

.footer h5 {
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.footer ul {
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 100;
  color: #ffffff;
  /* color: #3b45ff; */

}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #6200ff;
  font-size: 12px;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .text-white img {
  vertical-align: middle;
  margin-right: 5px;
  color: #6200ff;

}

.footer p {
  font-size: 18px;
  margin-top: 15px;
}

.navbar-brand
{
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size:30px; /* 2rem equivalent */


}

.there{
  color: #1e00ff;
}
.navbar{
  background: linear-gradient(75deg, #0a0436,#0c0615,#10011f);
}

/* Logo Marquee Styles */

.container input{
  background: linear-gradient(75deg,#b7fdff,#9ab2ff,#a69bff,#9d8aff);
}
textarea{
  background: linear-gradient(75deg,#a1fcff,#7e9cff,#7f6eff,#7458ff);

}

.logo {
  height: 50px;
  margin: 0 15px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  transition: transform 0.3s ease;

}

.logo:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.25);
}

.hero .input-group {
  max-width: 500px;
  margin: 20px auto;
}

.hero .input-group-text {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
}

.hero .form-control {
  border-radius: 20px 0 0 20px;
  padding: 10px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  color: #003cff;
}
.description-box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-right: 20px;
  color: aliceblue;
}

.description-box p {
  margin: 0;
  text-align: justify;
  color: aliceblue;
}

.me {
  display: flex;
  align-items: center;
}
.love {
  display: inline-block; /* Ensures transform works properly */
  animation: beat 1s infinite;
  transition: .1s ease-in;
}

@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


.love:hover {
  transform: rotate(20deg); /* Rotate by 20 degrees on hover */
}
.me img {
  margin-left: 20px;
  border-radius: 50%;
  /* border: #0a0436; */
  background: linear-gradient(75deg,#0a0818,#000000);
  padding: 10px;
}
.suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add some margin for better spacing */
}


.suggestions-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Add margin to separate from the header */
}

.suggestions-label {
  margin-right: 10px; /* Add margin to separate label from suggestions */
}

.suggestions {
  display: flex;
  flex-wrap: nowrap; /* Ensure suggestions stay in one line */
}

/* Rest of your CSS */


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.question {
  margin-left: 1px;
  color: #6200ff;
  /* Use gradient as text color */
  background-image: linear-gradient(45deg, #78d8f3, #9c71ff, #ff65e5);
  /* Set the background size and repeat properties */
  background-size: 100%;
  
  background-repeat: repeat;
  /* Use the text as a mask for the background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.suggestions-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
}


.suggestions .question {
  animation: fadeInOut 5s linear infinite;
  opacity: 0;
}
.about {
  color: aliceblue;
}

.section-title {
  color: #0400ff;
}

.hero .form-control::placeholder {
  color: rgba(51, 0, 255, 0.7);
}

.hero .btn-primary {
  border-radius: 0 20px 20px 0;
  background-color: #ffffff;
  border: none;
  padding: 10px 15px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .btn-primary:hover {
  background-color: #9290b0;
  
}

.hero .btn-primary img {
  height: 100px;
}

.hero .input-group-text img {
  height: 20px;
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  background: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
}

.me{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names{
  display: block;
}


.logos-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 21px;
}
.logo-container p :hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.25);
}
.logo {
  margin-bottom: 5px;
}


#ai{
  background-color: #ffffff;
}




.certs {
  display: flex;

  background-color: transparent;
}

.certi {
  width: auto;
  margin: 15px;
  height: 250px; /* Ensure the images fit within the container */
  background-color: transparent; /* Ensure the background is transparent */
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.certs {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;
}

.certs:before,
.certs:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.certs:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.certs:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.certs:hover .certs-slide {
  animation-play-state: paused;
  transform: scale(1.25);
}

.certs-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.certs-slide img {
  height: 400px;
  margin: 0 40px;
}
