/* Custom styles */

/* Define the Ahsing-Regular font */
@font-face {
  font-family: 'Ahsing-Regular';
  src: url('Ahsing-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define the Poppins-Bold font */
@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Poppins-Bold', Arial, sans-serif;
  line-height: 1.6;
  background: #000;
}

.hero {
  position: relative;
  height: 80vh;
  color: #fff;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero h1 {
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size: 70px; /* 3rem equivalent */
  font-weight: bold;
  margin-bottom: 16px; /* 1rem equivalent */
  color: #fff;

}

.section-title {
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size: 32px; /* 2rem equivalent */
  font-weight: bold;
  margin-bottom: 32px; /* 2rem equivalent */
  color: #0400ff;

}

.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #fff;
  border-radius: 20px;

}
.card-title{
  color: #1e00ff;
}
.card-text{
  color: #120386;

}
.card:hover {
  transform: translateY(-10px);
}

.footer {
  background-color: #333;
}
.navbar-brand
{
  font-family: 'Ahsing-Regular', Arial, sans-serif;
  font-size:30px; /* 2rem equivalent */


}

.there{
  color: #1e00ff;
}
.navbar{
  background: linear-gradient(75deg, #0a0436,#0c0615,#10011f);
}

/* Logo Marquee Styles */

input{
  background: linear-gradient(75deg,#b7fdff,#9ab2ff,#a69bff,#9d8aff);
}
textarea{
  background: linear-gradient(75deg,#a1fcff,#7e9cff,#7f6eff,#7458ff);

}

.logo {
  height: 50px;
  margin: 0 15px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  transition: transform 0.3s ease;

}

.logo:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.25);
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
